---
import Social from "../astro-modules/Social.astro";
---

<div class="footer">
  <div class="container">
    <div class="row-1">
      <p>&copy; Austin Mueck 2024</p>
    </div>
    <div class="row-2">
      <Social />
    </div>
  </div>
</div>

<style lang="scss">
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--color-bg);
    color: var(--color-text);
    z-index: 999;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;
    flex-wrap: wrap; // wrap the content if it overflows
  }

  @mixin padding() {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
  }
  .row-1 {
    @include padding();
  }
  .row-2 {
    @include padding();
  }
  .row-3 {
    @include padding();
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }

  .social-links img {
    width: 25px;
    height: 25px;
    margin: 0 0.5rem;
  }
</style>
