---
import Navlinks from "../../components/react-modules/Navlinks.jsx";
---

<nav>
  <div class="title">
    <a href="/index"><h1 transition:name="heroName">Austin Mueck</h1></a>
  </div>
  <Navlinks
    className="links"
    link1="./projects"
    linkTitle1="Projects"
    link2="./about"
    linkTitle2="About"
    link3="./contact"
    linkTitle3="Contact"
  />
</nav>

<style lang="scss">
  a h1 {
    margin: 0;
    text-decoration: none;
    color: var(--text-color);
  }

  a h1:hover {
    color: var(--accent-color);
  }
</style>
