---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/astro-modules/Hero.astro";
import Projects from "../components/astro-modules/Projects.astro";
---

<Layout title="A New Site">
  <main>
    <Hero />
    <Projects />
  </main>
</Layout>
