---
import "../styles/styles.css";
import Social from "./Social.astro";
---

<div class="footer">
  <div class="container">
    <div class="row-1">
      <p>Copyright: Austin Mueck 2024</p>
    </div>
    <div class="row-2">
      <Social />
    </div>
    <div class="row-3">
      <p>Developed by J.Milner 2024. All Rights Reserved.</p>
    </div>
  </div>
</div>

<style lang="scss">
  .footer {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; // wrap the content if it overflows
  }

  @mixin padding() {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
  }
  .row-1 {
    @include padding();
  }
  .row-2 {
    @include padding();
  }
  .row-3 {
    @include padding();
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }

  .social-links img {
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
  }
</style>
