---

---

<div class="footer">
  <div class="container">
    <div class="row-1">
      <p>Copyright: Austin Mueck 2024</p>
    </div>
    <div class="row-2">
      <div class="social-links">
        <a href="https://www.facebook.com/"
          ><img src="images/facebook.png" alt="Facebook" /></a
        >
        <a href="https://www.twitter.com/"
          ><img src="images/twitter.png" alt="Twitter" /></a
        >
        <a href="https://www.instagram.com/"
          ><img src="images/instagram.png" alt="Instagram" /></a
        >
        <a href="https://www.linkedin.com/"
          ><img src="images/linkedin.png" alt="LinkedIn" /></a
        >
      </div>
    </div>
    <div class="row-3">
      <p>Developed by J.Milner 2024. All Rights Reserved.</p>
    </div>
  </div>
</div>

<style lang="scss">
  .footer {
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f4f4f4;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }

  .social-links img {
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
  }

  .row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
