---
import { Image } from "astro:assets";
import image01 from "../assets/img_brightroom/brightroom_104.jpg";
import image02 from "../assets/img-romeo/romeo_104.jpg";
import image03 from "../assets/img-carol/carol_104.jpg";
---

<div class="heroContainer">
  <div class="heroContent">
    <Image src={image01} alt="#" />
    <!-- <Image src={image02} alt="#" />
    <Image src={image03} alt="#" /> -->
    <div class="heroText">
      <h2>lorem Ipsum</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia modi
        voluptas nihil impedit, tempore et ut facere quaerat quis repellendus
        eaque explicabo reprehenderit voluptatem adipisci. Qui illo expedita sit
        officiis!
      </p>
    </div>
  </div>
</div>

<style lang="css">
  .heroContainer {
    max-width: 400px;
    margin: 4rem auto;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroText {
    margin-top: 1rem;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  .carousel {
    width: 100%;
    height: 100%;
  }
</style>
