---

---

<ul>
  <li>
    <a href="#"
      ><svg
        id="Facebook_24"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        ><rect width="24" height="24" stroke="none" fill="#000000" opacity="0"
        ></rect>
        <g transform="matrix(0.77 0 0 0.77 12 12)">
          <path
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: var(--text-color); fill-rule: nonzero; opacity: 1;"
            transform=" translate(-13, -12.93)"
            d="M 13 0 C 5.82 0 0 5.82 0 13 C 0 19.518 4.801 24.899 11.057 25.839 L 11.057 16.445 L 7.84 16.445 L 7.84 13.028 L 11.057 13.028 L 11.057 10.754000000000001 C 11.057 6.989000000000001 12.891 5.3370000000000015 16.02 5.3370000000000015 C 17.518 5.3370000000000015 18.311 5.448000000000001 18.686 5.499000000000001 L 18.686 8.482000000000001 L 16.552 8.482000000000001 C 15.224 8.482000000000001 14.76 9.741000000000001 14.76 11.161000000000001 L 14.76 13.029000000000002 L 18.653 13.029000000000002 L 18.125 16.446 L 14.76 16.446 L 14.76 25.868000000000002 C 21.105 25.006 26 19.581 26 13 C 26 5.82 20.18 0 13 0 z"
            stroke-linecap="round"></path>
        </g>
      </svg></a
    >
  </li>

  <li>
    <a href="#"
      ><svg
        id="Email_Send_24"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        ><rect width="24" height="24" stroke="none" fill="#000000" opacity="0"
        ></rect>

        <g transform="matrix(0.83 0 0 0.83 12 12)">
          <path
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: var(--text-color); fill-rule: nonzero; opacity: 1;"
            transform=" translate(-15, -15)"
            d="M 26 3 C 25.904026142042714 3.0006583581949826 25.80864687942315 3.0151297178191654 25.716797 3.0429688 C 25.68976046237127 3.050306917202327 25.663044228078622 3.0587779232018644 25.636719 3.0683594000000003 L 3.6503906 10.060547 L 3.6503906 10.064453 C 3.2597585643776337 10.210219758159939 3.0005624088856773 10.583057535461814 3 11 C 3.0007408225869683 11.349224834461092 3.1836114229399137 11.672765252777186 3.4824218999999994 11.853516 L 10.164062 17.154297 L 23.373047 6.6269531 L 12.845703 19.835938 L 18.142578 26.513672 C 18.323084316844625 26.815171933439384 18.648596100047126 26.99980154931267 19 27 C 19.416942566116045 26.999437528711955 19.789780373159353 26.740241193134263 19.935547 26.349609 L 19.939453 26.349609 L 26.9375 4.34375 C 26.94465083777267 4.323779951047257 26.951164466503297 4.303587435180673 26.957031 4.2832031 C 26.984870159411347 4.191353198395892 26.999341586528 4.095973901208165 27 4 C 27 3.4477152501692068 26.552284749830793 3 26 3 z"
            stroke-linecap="round"></path>
        </g>
      </svg></a
    >
  </li>
  <li>
    <a href="#"
      ><svg
        id="LinkedIn_24"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        ><rect width="24" height="24" stroke="none" fill="#000" opacity="0"
        ></rect>

        <g transform="matrix(0.91 0 0 0.91 12 12)">
          <path
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: var(--text-color); fill-rule: nonzero; opacity: 1;"
            transform=" translate(-15, -15)"
            d="M 24 4 L 6 4 C 4.895 4 4 4.895 4 6 L 4 24 C 4 25.105 4.895 26 6 26 L 24 26 C 25.105 26 26 25.105 26 24 L 26 6 C 26 4.895 25.105 4 24 4 z M 10.954 22 L 8.004000000000001 22 L 8.004000000000001 12.508 L 10.954 12.508 L 10.954 22 z M 9.449 11.151 C 8.498 11.151 7.729 10.379999999999999 7.729 9.431 C 7.729 8.482 8.499 7.711999999999999 9.449 7.711999999999999 C 10.397 7.711999999999999 11.168 8.482999999999999 11.168 9.431 C 11.168 10.38 10.397 11.151 9.449 11.151 z M 22.004 22 L 19.056 22 L 19.056 17.384 C 19.056 16.283 19.036 14.867 17.523 14.867 C 15.988 14.867 15.751999999999999 16.066000000000003 15.751999999999999 17.304000000000002 L 15.751999999999999 22 L 12.803999999999998 22 L 12.803999999999998 12.508 L 15.633999999999999 12.508 L 15.633999999999999 13.805 L 15.673999999999998 13.805 C 16.067999999999998 13.059 17.029999999999998 12.272 18.464999999999996 12.272 C 21.451999999999998 12.272 22.003999999999998 14.238 22.003999999999998 16.794 L 22.003999999999998 22 z"
            stroke-linecap="round"></path>
        </g>
      </svg></a
    >
  </li>
  <li>
    <a href="#"
      ><svg
        id="Instagram_24"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        ><rect width="24" height="24" stroke="none" fill="#000000" opacity="0"
        ></rect>

        <g transform="matrix(0.83 0 0 0.83 12 12)">
          <path
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: var(--text-color); fill-rule: nonzero; opacity: 1;"
            transform=" translate(-15, -15)"
            d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 C 12.790861000676827 11 11 12.790861000676827 11 15 C 11 17.209138999323173 12.790861000676827 19 15 19 C 17.209138999323173 19 19 17.209138999323173 19 15 C 19 12.790861000676827 17.209138999323173 11 15 11 z"
            stroke-linecap="round"></path>
        </g>
      </svg></a
    >
  </li>
</ul>

<style>
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  li {
    margin: 0 10px;
  }

  a {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    transition: 0.3s ease-in-out;
  }

  a:hover {
    transform: scale(1.5) translate(0, -5px);
    transition: 0.3s ease-in-out;
  }
</style>
