
  @import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block-end: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }

  /* Set core body defaults */
  body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  :root {
    /* Fundamental Frequencies */
    --minorSecond: 1.067;
    --majorSecond: 1.125;
    --minorThird: 1.2;
    --majorThird: 1.25;
    --perfectFourth: 1.333;
    --tritone: 1.414;
    --perfectFifth: 1.5;
    --minorSixth: 1.6;
    --goldenRatio: 1.618;
    --majorSixth: 1.667;
    --minorSeventh: 1.75;
    --majorSeventh: 1.875;
    --octave: 2;

    /* Set the Scale */
    --typeScale: var(--perfectFourth);

    @media screen and (max-width: 1200px) {
      --typeScale: var(--majorThird);
    }

    @media screen and (max-width: 900px) {
      --typeScale: var(--majorThird);
    }

    @media screen and (max-width: 500px) {
      --typeScale: var(--minorThird);
    }

    /* Override Font Size for 1rem and baseline */
    --font-size: 16px;

    /* Size Variables */
    --p: 16px;
    --h5: calc(var(--p) * var(--typeScale));
    --h4: calc(var(--h5) * var(--typeScale));
    --h3: calc(var(--h4) * var(--typeScale));
    --h2: calc(var(--h3) * var(--typeScale));
    --h1: calc(var(--h2) * var(--typeScale));

    --p-sm: calc(var(--p) / var(--typeScale));
    --P-xsm: calc(var(--p-small) / var(--typeScale));
    --p-lrg: calc(var(--p) * var(--typeScale));
    --p-xlrg: calc(var(--p-large) * var(--typeScale));

    --font-size-super: calc(var(--h1) * var(--typeScale) * 2);

    /* Baselines */
    --baseline: calc(var(--p) * var(--typeScale));

    /* Baseline variables */
    --baseline-sm: calc(var(--baseline) / var(--typsecale));
    --baseline-md: calc(var(--baseline));
    --baseline-lrg: calc(var(--baseline) * var(--typescale));
    --baseline-xlrg: calc(var(--baseline-lrg) * var(--typescale));

    /* COLORS - Work on converting these to MAPs */
    --outerspace-100: hsl(210, 10%, 96%);
    --outerspace-200: hsl(210, 10%, 84%);
    --outerspace-300: hsl(208, 10%, 72%);
    --outerspace-400: hsl(210, 10%, 60%);
    --outerspace-500: hsl(211, 10%, 48%);
    --outerspace-600: hsl(213, 10%, 36%);
    --outerspace-700: hsl(210, 10%, 24%);
    --outerspace-800: hsl(210, 10%, 12%);
    --outerspace-900: hsl(225, 13%, 6%);

    --cadet-100: hsl(180, 14%, 96%);
    --cadet-200: hsl(180, 15%, 84%);
    --cadet-300: hsl(182, 21%, 73%);
    --cadet-400: hsl(180, 15%, 72%);
    --cadet-500: hsl(180, 15%, 60%);
    --cadet-600: hsl(180, 15%, 48%);
    --cadet-700: hsl(182, 16%, 37%);
    --cadet-800: hsl(182, 22%, 26%);
    --cadet-900: hsl(180, 15%, 12%);

    --bluey-100: hsl(193, 90%, 96%);
    --bluey-200: hsl(193, 90%, 84%);
    --bluey-300: hsl(193, 90%, 72%);
    --bluey-400: hsl(193, 90%, 60%);
    --bluey-500: hsl(193, 90%, 48%);
    --bluey-600: hsl(193, 90%, 36%);
    --bluey-700: hsl(193, 90%, 24%);
    --bluey-800: hsl(193, 90%, 12%);
    --bluey-900: hsl(193, 90%, 4%);

    --cosmic-100: hsl(280, 90%, 96%);
    --cosmic-200: hsl(280, 90%, 84%);
    --cosmic-300: hsl(280, 90%, 72%);
    --cosmic-400: hsl(280, 90%, 60%);
    --cosmic-500: hsl(280, 90%, 48%);
    --cosmic-600: hsl(280, 90%, 36%);
    --cosmic-700: hsl(280, 90%, 24%);
    --cosmic-800: hsl(280, 90%, 12%);
    --cosmic-900: hsl(280, 90%, 4%);

    --alert: hsl(338, 62%, 48%);
    --warning: hsl(39, 100%, 50%);
    --success: hsl(120, 100%, 25%);
    --info: hsl(240, 100%, 50%);
    --error: hsl(0, 100%, 50%);
    --white: hsl(210, 10%, 96%);
    --black: hsl(225, 13%, 6%);

    --bg-color: var(--outerspace-100);
    --bg-color-light: var(--outerspace-200);
    --bg-color-lighter: var(--outerspace-300);
    --text-color: var(--outerspace-900);
    --accent-color-darker: var(--cosmic-300);
    --accent-color-dark: var(--cosmic-400);
    --accent-color: var(--cosmic-500);
    --accent-color-light: var(--cosmic-600);
    --accent-color-lighter: var(--cosmic-800);

    @media (prefers-color-scheme: dark) {
      --bg-color: var(--outerspace-800);
      --bg-color-light: var(--outerspace-700);
      --bg-color-lighter: var(--outerspace-600);
      --text-color: var(--outerspace-100);
      --accent-color-dark: var(--bluey-800);
      --accent-color-darker: var(--bluey-600);
      --accent-color: var(--bluey-500);
      --accent-color-light: var(--bluey-400);
      --accent-color-lighter: var(--bluey-300);
    }
  }

  body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: "Karla", sans-serif;
    font-size: var(--font-size);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
   
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: var(--baseline);
    text-transform: uppercase;
  }

  h1 {
    font-size: var(--h1);
  }

  h2 {
    font-size: var(--h2);
  }

  h3 {
    font-size: var(--h3);
  }

  h4 {
    font-size: var(--h4);
  }

  h5 {
    font-size: var(--h5);
  }

  h6 {
    font-size: var(--h6);
  }

  p {
    font-size: var(--p);
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  a.button {
    margin: 1rem 1rem;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: var(--text-color);
  }

  a.button:hover {
    transform: scale(1.1); /* Adjust as needed */
    box-shadow: 0 0 1rem var(--accent-color);
    transition: 200ms ease-out;
  }

  a.button:active {
    background-color: var(--text-color);
    color: var(--accent-color-dark);
    box-shadow: 0 0 1rem var(--accent-color);
    transition: 200ms ease-out;
  }

  a.button:active {
    transform: scale(0.9); /* Adjust as needed */
    box-shadow: 0 0 1rem var(--accent-color);
    transition: 80ms ease-out;
  }

  img {
    width: 100%;
    height: auto;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }